<section>
	<h1>Nya Simultima </h1>
</div>
<p>
	Den här sidan är en prototyp för kod till
	<a href="http://www.simultima.se/" title="Simultima">Simultima</a>, om du är
	här för något annat än tekniska tester så är du fel.
</p>
</section>
<section>
	<h2>Inehåll</h2>
	<table>
		<tr>
			<th>Name</th>
			<th>Comment</th>
		</tr>
		<tr>
			<td><a href="Index" target="_blank">newSimultima</a></td>
			<td>Själva sidan, får sitt inehåll ifrån adminpage men är fortfarande i ett tidigt skede där egentligen ingenting är färdigställt.</td>
		</tr>
		<tr>
			<td><a href="adminpage" target="_blank">AdminPage</a></td>
			<td>Administrationsverktyg för sidor och dess inehåll</td>
		</tr>

	</table>
</section>
