<form method="POST" action="/login">
    <label>Username: </label>
    <input type="text" name="username" required /> <br>

    <label>Password:</label>
    <input type="password" name="password" required /> <br>
    <button type="submit">Logga in</button>
</form>