<link href="{{@BASE . '/web/grid-template.css' }}" rel="stylesheet">
<script src="{{ @BASE }}/web/js/modal.js"></script>
<script src="{{ @BASE }}/web/js/preview.js"></script>
<script src="{{ @BASE }}/web/js/pagedata.js"></script>

<form id="pageform">

	<!-- Saves the id  -->
	<input type="text" name="id" value="{{@id}}" hidden></input>

	<!-- Editable fields -->
	<label for="header">Parent</label>
	<select name="parent">

		<check if="{{ @parent }}">
			<option value="{{ @parent }}">{{ @parent }}<br>
		</check>

		<option value="">None<br>
			<REPEAT group="{{ @pageslist }}" value="{{ @page }}">

				<check if="{{ @header != @page->header &&  @parent != @page->header }}">
		<option value="{{ @page->header }}">{{ @page->header }}</option>
		</check>

		</REPEAT>
	</select>

	<label for="header">Rubrik</label>
	<input type="text" name="header" value="{{@header}}" required></input>

	<label for="header">Innehåll</label>
	<textarea name="content" oninput="showElementByName('updatebuttons');" onfocus="showElementByName('editbuttons');"
	 required>{{@content}}</textarea>

	<!-- List the pages in the database -->
	<linklist>
		<check if="{{@pageslist > 0}}">
			<true>
				<REPEAT group="{{@pageslist}}" value="{{ @page }}">
					<!-- <a href="{{ @BASE }}/AdminPage/{{@page->id}}">{{@page->publicName}}</a><br> -->
					<div onclick="PageData.LoadPage('{{@page->id}}');">{{@page->publicName}}</div>
				</REPEAT>

			</true>
			<!-- If false, prints messege -->
			<false>
				<p>No pages found</p>
			</false>
		</check>

		<div onclick="PageData.ClearForm();">New (empty form)</div>
		<!-- <a href="{{ @BASE }}/AdminPage/">New</a> -->
	</linklist>

	<!-- Buttons that should be visible only when an existing page is loaded -->
	<formbuttons>
		<check if="{{@id}}">
			<true>
				<button type="button" name="preview" onclick="Preview.previewPage()">Preview</button>
				<button type="submit" name="copyButton" formaction="{{ @BASE }}/AdminPage/Copy">Copy</button>
				<button type="submit" name="deleteButton" class="red" formaction="{{ @BASE }}/AdminPage/Delete">Delete</button>
			</true>
		</check>
	</formbuttons>

	<!-- Buttons that should be visible when de datah as changed -->
	<updatebuttons name="updatebuttons" style="display:none;">
		<button id="updateButton" type="button" class="green" onclick="PageData.UpdatePage();">Update</button>
		<!-- <button type="submit" class="green" formaction="{{ @BASE }}/AdminPage/Update">Update</button> -->
	</updatebuttons>

	<!-- Buttons to add elements to the page -->
	<!-- <editbuttons name="editbuttons" style="display:none;">
		<button type="button" onclick="editIMG();">IMG</button>
		<button type="button" onclick="editButton();">Link</button>
	</editbuttons> -->

</form>

<!-- Experiments, should be removed when done -->
<!-- <button onclick="test.open()">Open Modal</button> -->
<include href="{{@VIEW.'parts/modal.html'}}" />