<html>
<head>
	<title></title>
	<link href="{{@BASE . '/web/templatepage.css' }}" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<header class="header">
			<span><img class="headerlogo" src="{{@BASE}}/imgs/logotopleft.png" alt=""></span>
			<span><a href="">FÖRENINGEN</a></span>
			<span><a href="">HUR SPELAR MAN?</a></span>
			<span><a href="">SPELVÄRLDAR</a></span>
			<span><a href="">BLI MEDLEM!</a></span>
			<span><a href="">FACEBOOK➠</a></span>
			<span><a href="">CHATTEN➠</a></span>
		</ul>
		</header>


		<news class="news">
			<section class="contentheader">
				<h1>NYHETER</h1>
			</section>
			<section>
				<article>
					<h2>CELENDINE KALLAR SITT FOLK TILL FÖRSVAR!</h2>
					<p class="box">
						November 23, 2017 10:14:00 am<br>
						Kungörelse!Celendine kallar sitt folk till försvar!Vårt nobla Celedine är under attack. Efter nära tusen år av lugn och fred hotas nu vårt vackra rike av en av dem vi känt tillit och i vars händer vi lagt många viktiga beslut.Vi, kung Lucién, vill h...
					</p>
				</article>
				<article>

					<h2>EXPLOSION I HAMNEN</h2>
					<p>
						November 21, 2017 02:50:00 pm<br>
						En mindre explosion skakade hamnen sent igår kväll, natten mot den tjugoförsta november .En explosion skakade sent hamnen, natten mot tisdag. Platsen är avspärrad och polisen släpper inte någon i närheten av händelsen, på grund av pågående arbete för...
					</p>
				</article>
				<article>
					<h2>SKOTTLOSSNING MISSTÄNKT GÄNGRELATERAT</h2>
					<p>
						November 21, 2017 02:48:00 pm<br>
						En skottlossning utspelade sig på Kvarterskrogen sent i går kväll, natten mot tisdagen den tjugoförsta november. Enligt utsago klev fyra mörklädda män med mask för ansiktet och bombarjackor, in på krogen och öppnade eld med automatgevär mot de få kva...
					</p>
				</article>
			</section>
		</news>

		<main class="main">
				<img class="centerbild" src="{{@BASE}}/imgs/simultimalogga.png" alt="">
				<p>
					Gillar Du rollspel? Gillar Du lajv? Eller gillar Du kanske bara att skriva? Det här är platsen för Dig som inte kan bärga Dig mellan spelmöten, som vill testa en ny roll inför ett lajv eller kanske återuppliva en gammal. Kom med de karaktärer och platser som trängs med varandra i Ditt huvud och upplev en annan typ av spel, helt gratis!
					Simultima.se är en rollspelschatt, ett helt textbaserat rollspel baserat på improvisation och fantasi, med ett urval av spelvärldar. Simultima är också en ideell förening under SVEROK bestående av ett gäng passionerade rollspelare, författare och kreatörer som alla delar drömmen om en gemensam mötesplats där vi kan skapa historier, platser, intriger och karaktärer - tillsammans!
					Du behöver inte vara medlem i föreningen för vara med att spela eller skapa i chatten. Fast om Du är intresserad kan Du läsa om föreningen i fliken med samma namn. Men du, innan du gör det - kika in på chatten och se vad som händer. Vad väntar du på? Kom in!
				</p>
		</main>

		<nav class="nav">
			<section class="contentheader">
				<h1>Välkommen</h1>
			</section>
			<section>
				<p>
					Använd menyn ovan för att navigera sidan.

					Fler menyalternativ kommer efterhand presenteras här.
				</p>
			</section>
		</nav>

		<footer class="footer">
			<p>
				SIDANS TEXT © 2015 SIMULTIMA        KÄLLKOD & DESIGN © 2015 BLUE CORNERHOUSE PUBLISHING        BILDER © RESPEKTIVE KOSTNÄR UNDER CREATIVE COMMONS
			</p>
		</footer>
	</div>
</body>
</html>
