
<div class="wrapper">
	<header class="header">
		<include href="{{ @VIEW.'/parts/menu.html' }}" />
	</header>

	<news class="news">
		<include href="{{ @VIEW.'/parts/news.html' }}" />
	</news>

	<main class="main">
		<include href="{{ @VIEW.'/parts/main.html' }}" />
	</main>

	<nav class="nav">
		<include href="{{ @VIEW.'/parts/nav.html' }}" />
	</nav>

	<footer class="footer">
		<p>
			SIDANS TEXT © 2015 SIMULTIMA        KÄLLKOD & DESIGN © 2015 BLUE CORNERHOUSE PUBLISHING        BILDER © RESPEKTIVE KOSTNÄR UNDER CREATIVE COMMONS
		</p>
	</footer>
</div>
