<script src="{{ @BASE }}/web/js/preview.js"></script>

<div class="wrapper">
	<header class="header">
		<span><img class="headerlogo" src="{{@BASE}}/imgs/logotopleft.png" alt=""></span>

		<repeat group="{{ @page->rootPages }}" value="{{ @rootPage }}">
			<span><a href="{{ @rootPage["header"] }}">{{ @rootPage["header"] }}</a></span>
		</repeat>
	</ul>
</header>


<news class="news">
	<include href="{{ @VIEW.'/parts/news.html' }}" />
</news>

<main class="main">

</main>

<nav class="nav">
	<include href="{{ @VIEW.'/parts/nav.html' }}" />
</nav>

<footer class="footer">
	<p>
		SIDANS TEXT © 2015 SIMULTIMA        KÄLLKOD & DESIGN © 2015 BLUE CORNERHOUSE PUBLISHING        BILDER © RESPEKTIVE KOSTNÄR UNDER CREATIVE COMMONS
	</p>
</footer>
</div>

<script>
window.onload = Preview.loadContent();
</script>
