<check if="{{ @errors }}">
	<true>
		<repeat group="{{ @errors }}" value="{{ @error }}">
			<section>
			<b>{{ @error }}</b>
		</section>
		</repeat>
	</true>
</true>

<check if="{{ empty(@msg) }}">
	<true>
<form class="main" method="post" action="{{@BASE}}/sverokapi">
	<label for="firstname">Förnamn</label>
	<input type="text" name="firstname" placeholder="Simul" required value="{{ @formData['firstname'] }}" />

	<label for="lastname">Efternamn</label>
	<input type="text" name="lastname" placeholder="Tima" required value="{{ @formData['lastname'] }}" />

	<label for="nick">Nick</label>
	<input type="text" name="nick" placeholder="Simultima" value="{{ @formData['nick'] }}" />

	<label for="member_fee">Medlemsavgift (kr)</label>
	<input type="number" name="member_fee" placeholder="100" required value="{{ @formData['member_fee'] }}" />

	<label for="co">Co</label>
	<input type="text" name="co" placeholder="Simutima" value="{{ @formData['co'] }}" />

	<label for="socialsecuritynumber">Personnumer</label>
	<input type="text" name="socialsecuritynumber" placeholder="ååmmdd-xxxx" required value="{{ @formData['socialsecuritynumber'] }}" />

	<label for="email">Email</label>
	<input type="email" name="email" placeholder="simultima@gmail.com" required value="{{ @formData['email'] }}" />

	<label for="phone">Telefonnummer</label>
	<input type="number" name="phone" placeholder="1111111111" required value="{{ @formData['phone'] }}" />

	<label for="street">Gatuadress</label>
	<input type="text" name="street" placeholder="Simultimagatan 1" required value="{{ @formData['street'] }}" />

	<label for="zip_code">Postnummer</label>
	<input type="number" name="zip_code" placeholder="11111" required value="{{ @formData['zip_code'] }}" />

	<label for="city">Postort</label>
	<input type="text" name="city" placeholder="Simultuna" required value="{{ @formData['city'] }}" />

	<button type="submit">Gå med</button>
</form>

<false>
	<section>
	{{ @msg }}
</section>
</false>
</check>
