{{  html_entity_decode(@page->content) }}
<!-- Switch case for special pages  -->
<switch expr="{{ @page->header }}">
	<case value="Bli medlem" break="TRUE">
		<include href="{{ @UI.'/sverokform.html' }}" />
	</case>
</switch>
