<span><img class="headerlogo" src="{{@BASE}}/web/imgs/logotopleft.png" alt=""></span>

<repeat group="{{ @page->rootPages }}" value="{{ @rootPage }}">
	<span><a href="{{ @rootPage }}">{{ @rootPage }}</a></span>
</repeat>
