<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <button acton="button" onclick="test.close()">&times;</button>
    <p>Some text in the Modal..</p>
  </div>

</div>
