<section class="contentheader">
	<h1>{{ ucfirst(@page->menuheader) }}</h1>
</section>
<section>
	<ul>
		<repeat group="{{ @page->related }}" value="{{ @child }}">
			<li><a href="{{@child["header"]}}">{{ ucfirst(@child["header"]) }}</a></li>
		</repeat>
	</ul>
</section>
