	<section class="contentheader">
		<h1>NYHETER</h1>
	</section>
	<section>
		<article>
			<h2>CELENDINE KALLAR SITT FOLK TILL FÖRSVAR!</h2>
			<p class="box">
				November 23, 2017 10:14:00 am<br>
				Kungörelse!Celendine kallar sitt folk till försvar!Vårt nobla Celedine är under attack. Efter nära tusen år av lugn och fred hotas nu vårt vackra rike av en av dem vi känt tillit och i vars händer vi lagt många viktiga beslut.Vi, kung Lucién, vill h...
			</p>
		</article>
		<article>

			<h2>EXPLOSION I HAMNEN</h2>
			<p>
				November 21, 2017 02:50:00 pm<br>
				En mindre explosion skakade hamnen sent igår kväll, natten mot den tjugoförsta november .En explosion skakade sent hamnen, natten mot tisdag. Platsen är avspärrad och polisen släpper inte någon i närheten av händelsen, på grund av pågående arbete för...
			</p>
		</article>
		<article>
			<h2>SKOTTLOSSNING MISSTÄNKT GÄNGRELATERAT</h2>
			<p>
				November 21, 2017 02:48:00 pm<br>
				En skottlossning utspelade sig på Kvarterskrogen sent i går kväll, natten mot tisdagen den tjugoförsta november. Enligt utsago klev fyra mörklädda män med mask för ansiktet och bombarjackor, in på krogen och öppnade eld med automatgevär mot de få kva...
			</p>
		</article>
	</section>
