<!DOCTYPE html>

<html>

<head>
	<title>Simultima - {{ @page->header }}</title>
	<link href="{{@BASE . '/web/templatepage.css' }}" rel="stylesheet">

	<check if="{{ @IP == '127.0.0.1' }}">
		<script src="http://127.0.0.1:35729/livereload.js"></script>
	</check>

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>
<body style="background-image: url('{{@BASE}}/web/imgs/bg.png');">
