body {
	overflow:scroll;
}

form {
	display: grid;
	grid-template-columns: 5em auto 10em;
	grid-template-rows: 1fr 1fr  10fr 1fr 1fr;
	grid-gap: 5px;
	background-color: black;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(218, 105, 255, 0.5);
	border-radius: 5px;
	margin: 20px;
	padding: 10px;
}

label {
	grid-column: 1 / 2;
		border-bottom: 1px solid rgba(218, 105, 255, 0.5);
}

input {
	grid-column: 2 / 3;
}

textarea {
	grid-column: 2 / 3;
	grid-row:3/4;
}

formbuttons {
	grid-row: 4/5;
	grid-column: 1 / 4;
}

editbuttons {
	grid-row: 5/6;
	grid-column: 1 / 4;
}


linklist {
	grid-column: 3/4;
	grid-row: 1/4;
}

button {
	display: inline-block;
	border-radius: 10px;
	border: 2px solid rgba(218, 105, 255, 0.5);

}

button.green {
 background-color: green;
}

button.red {
 background-color: red;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */

    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
