body {
	max-height: 100vh;
	color: #ffffff;
	background-color: #000000;
	font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
	font-size: 14px;
	font-weight: normal;

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	background-size: 100% 100%;
}

.wrapper {
	display: grid;
	grid-row-gap: 20px;
	grid-column-gap: 40px;
	grid-template-columns: 1fr	2fr	1fr;
	grid-template-rows: 5vh	87vh	auto;
	grid-template-areas:
	"header	header	header"
	"news	main	nav"
	"footer	footer	footer";
}

header {
	text-align: center;
	grid-area: header;
	border-bottom: 1px solid rgba(218, 105, 255, 0.5);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;

}
header span {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-right: 1px solid rgba(218, 105, 255, 0.5);
}
header span a {
	display: inline-flex;
	align-items: center;
	height:100%;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
	font-size: 13px;
	font-weight: 700;
	color: #DA69FF;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 100%;
}
header span:hover, header span:hover a {
	background-color: #DA69FF;
	color: #FFFFFF;
}
.headerlogo {
	height: 100%;
	object-fit: contain;
}

news {
	width: 30vh;
	grid-area: news;
	margin-left: auto;
	margin-right: auto;
	padding-left:50px;
	padding-top:10px;
	overflow:auto;
	font-size: 12px;
}

main {
	width: 100%;
	grid-area: main;
	margin-left: auto;
	margin-right: auto;
	overflow:auto;
	border: 1px solid rgba(218, 105, 255, 0.5);
	border-radius: 20px;
	padding: 10px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	background-color: #000000;
}

nav {
	width: 30vh;
	grid-area: nav;
	margin-left: auto;
	margin-right: auto;
	padding-right:50px;
	padding-top:10px;
	overflow:auto;
	font-size: 12px;
}

footer {
	text-align: center;
	grid-area: footer;
	border-top: 1px solid rgba(218, 105, 255, 0.5);
	margin-top: 1px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #000000;
}

section {
	border: 1px solid rgba(218, 105, 255, 0.5);
	border-radius: 20px;
	padding: 10px;
	margin: 5px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	background-color: #000000;
}


h1 {
	color: #DA69FF;
	padding:0px;
	margin:0px;
}

h2 {
	color: #DA69FF;
	font-size: 12px;
	margin:0px;
	padding:0px;
}

ul {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}

.contentheader {
	text-align: center;
}

img.centerbild {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

a:link, a:visited, a:active {
	color: #DA69FF;
}

a:hover {
	color: #FFFFFF;
}

form {
	border: 1px dotted rgba(218, 105, 255, 0.5);
	border-radius: 20px;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 5px;
	margin: 20px;
	padding: 15px;
}

#iframeContainer {
	width: 80vw;
	height: 80vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 20;
	position: absolute;
	top: 5vh;
	display: grid;
	grid-row-gap: 20px;
	grid-column-gap: 40px;
}

#preview {
	width: 80vw;
	height: 80vh;
	display:grid;
	margin-left: auto;
	margin-right: auto;
	grid-column: 1/3;
}
